services:
  migrator:
    build:
      context: .
      dockerfile: Dockerfile.migrator
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_USERNAME=go_bank
      - POSTGRES_PASSWORD=password
      - POSTGRES_DATABASE_NAME=go_bank
      - POSTGRES_PORT=5432
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_USERNAME=go_bank
      - POSTGRES_PASSWORD=password
      - POSTGRES_DATABASE_NAME=go_bank
      - POSTGRES_PORT=5432
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=password
    depends_on:
      migrator:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
  
  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=go_bank
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=go_bank
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U go_bank"]
      interval: 5s
      retries: 2
      start_period: 5s
      timeout: 3s

  redis:
    image: redis:7.4.0-alpine
    command: ["redis-server", "--requirepass", "password"]
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "password", "ping"]
      interval: 5s
      retries: 2
      start_period: 5s
      timeout: 3s

volumes:
  postgres-data: